In [2]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [3]:
li = ["abc", 34, 4.34, 23]
print(li)

['abc', 34, 4.34, 23]

In [6]:
st = "Hello World"
print(st)
st = 'Hello World'
print(st)
st = """This is a mulit-line
string that uses triple quotes."""
print(st)

Hello World
Hello World
This is a mulit-line
string that uses triple quotes.

In [7]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]

'abc'

In [8]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [9]:
st = "Hello World"
st[1]

'e'

In [17]:
t = (23, 'abc', 4.56, (2,3), 'def')
print(t[1])
print(t[-3])
print(t[1:4])
print(t[1:-1])
print(t[1:-1:2])
print(t[:2])
print(t[2:])
print(t[:])

abc
4.56
('abc', 4.56, (2, 3))
('abc', 4.56, (2, 3))
('abc', (2, 3))
(23, 'abc')
(4.56, (2, 3), 'def')
(23, 'abc', 4.56, (2, 3), 'def')

In [18]:
t = [1,2,4,5]
print(3 in t)
print(4 in t)
print(4 not in t)

False
True
False

In [19]:
a = 'abcde'
print('c' in a)
print('cd' in a)
print('ac' in a)

True
True
False

In [21]:
(1,2,3) + (4,5,6)
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [22]:
"Hello" + " " + "World"

'Hello World'

In [23]:
li = ['abc', 23, 4.34, 23]
li[1] = 45
li

['abc', 45, 4.34, 23]