In [2]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [3]:
li = ["abc", 34, 4.34, 23]
print(li)

['abc', 34, 4.34, 23]

In [6]:
st = "Hello World"
print(st)
st = 'Hello World'
print(st)
st = """This is a mulit-line
string that uses triple quotes."""
print(st)

Hello World
Hello World
This is a mulit-line
string that uses triple quotes.

In [7]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]

'abc'

In [8]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [9]:
st = "Hello World"
st[1]

'e'

In [17]:
t = (23, 'abc', 4.56, (2,3), 'def')
print(t[1])
print(t[-3])
print(t[1:4])
print(t[1:-1])
print(t[1:-1:2])
print(t[:2])
print(t[2:])
print(t[:])

abc
4.56
('abc', 4.56, (2, 3))
('abc', 4.56, (2, 3))
('abc', (2, 3))
(23, 'abc')
(4.56, (2, 3), 'def')
(23, 'abc', 4.56, (2, 3), 'def')

In [18]:
t = [1,2,4,5]
print(3 in t)
print(4 in t)
print(4 not in t)

False
True
False

In [19]:
a = 'abcde'
print('c' in a)
print('cd' in a)
print('ac' in a)

True
True
False

In [21]:
(1,2,3) + (4,5,6)
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [22]:
"Hello" + " " + "World"

'Hello World'

In [2]:
li = ['abc', 23, 4.34, 23]
li[1] = 45
li

['abc', 45, 4.34, 23]

In [1]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2] = 3.14
t

SyntaxError: EOL while scanning string literal (155783384.py, line 1)

In [3]:
t = (23, 'abc', 4.56, (2,3), 'def')
t

(23, 'abc', 4.56, (2, 3), 'def')

In [5]:
li = [1, 11, 3, 4, 5]
li.append('a')
li
li.insert(2, 'i')
li

[1, 11, 'i', 3, 4, 5, 'a']

In [6]:
li.extend([9, 8, 7])
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7]

In [7]:
li.append([10, 11, 12])
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7, [10, 11, 12]]

In [8]:
li = ['a', 'b', 'c', 'b']
li

['a', 'b', 'c', 'b']

In [9]:
li.index('b')

1

In [10]:
li.count('b')

2

In [11]:
li.remove('b')
li

['a', 'c', 'b']

In [12]:
li = [5, 2, 6, 8]
li
li.reverse()
li

[8, 6, 2, 5]

In [13]:
li.sort()
li

[2, 5, 6, 8]

In [15]:
d = {'user':'bozo', 'pswd':1234}
d['user']

'bozo'

In [16]:
d['pswd']

1234

In [17]:
d['user'] = 'clown'
d

{'user': 'clown', 'pswd': 1234}

In [18]:
d['id'] = 45
d

{'user': 'clown', 'pswd': 1234, 'id': 45}

In [19]:
d = {'user':'bozo', 'p':1234, 'i':34}
d

{'user': 'bozo', 'p': 1234, 'i': 34}

In [20]:
del d['user']
d

{'p': 1234, 'i': 34}

In [23]:
d.clear()
d
a=[1,2]
del a[1]
a

[1]

In [24]:
d =  {'user':'bozo', 'p':1234, 'i':34}
d.keys()

dict_keys(['user', 'p', 'i'])

In [25]:
d.values()

dict_values(['bozo', 1234, 34])

In [26]:
d.items()

dict_items([('user', 'bozo'), ('p', 1234), ('i', 34)])

In [ ]:
x=4

In [ ]:
while x < 5:
    print (x, "still in the loop")
    x = x + 1

In [ ]:
x = 8

In [ ]:
while x < 5:
    print (x, "still in the loop")

In [ ]:
li = [3, 6, 2, 7]
[elem*2 for elem in li]

In [ ]:
li = [('a', 1), ('b', 2), ('c', 7)]
[ n * 3 for (x, n) in li]

In [ ]:
li = [3, 6, 2, 7, 1, 9]
[elem * 2 for elem in li if elem > 4]

In [ ]:
li = [3, 2, 4, 1]
[elem*2 for elem in
 [item+1 for item in li] ]

In [ ]:
def myfun(x, y):
    return x * y

In [ ]:
myfun(3, 4)

In [ ]:
def myfun(x):
    return x*3

In [ ]:
def apply(q, x):
    return q(x)

In [ ]:
apply(myfun, 7)

In [ ]:
apply(lambda z: z * 4, 7)

In [ ]:
def myfun(b, c=3, d="hello"):
          return b + c

In [ ]:
myfun(5,3,"hello")

In [ ]:
myfun(3,9)

In [ ]:
myfun(4)

In [ ]:
def myfun (a, b, c):
    return a-b

In [ ]:
myfun(9, 3, 8)

In [ ]:
myfun(c=39, b=13, a=8)

In [ ]:
myfun(2, c=62, b=7)